@page "/"

<PageTitle>Home</PageTitle>

<h1>This is WASM tools by Minerva_Juppiter</h1>
<br />
<h3>In case you find issue, or want to get a new function, please report me vir Github Issue.</h3>
<a href="https://github.com/minerva-jupiter/webtools-mj/issues">Link for GitHub Issue of this repository</a>
<br />
<h3 style="padding-top: 5vh;">
    List of Webtools
</h3>
<ul>
    <li>
        <a href="/password">Password Generator</a>
    </li>
    <li>
        <a href="https://120timer.minervajuppiter.net">120(sec) timer</a>
    </li>
</ul>