@page "/"

<PageTitle>Home</PageTitle>

<h1>This is WASM tools by Minerva_Juppiter</h1>
<br />
<h3>In case you find issue, please report me vir Github Issue.</h3>
<br />
<a href="https://www.minervajuppiter.net/"><h4>About Me</h4></a>