@inherits LayoutComponentBase

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="https://www.minervajuppiter.net.">AboutMe</a></li>
            <li><a href="https://github.com/minerva-jupiter/webtools-mj">Repository</a></li>
        </ul>
    </nav>
    <br />
    <main>
        @Body
    </main>
</body>
